
.home {
    width: 140px;
    justify-content: space-evenly;
    .home-box {
        border: 1px solid gray ;
        padding: 16px;
    }
    .inputSearch{
        .ant-input-search-button {
            display: none;
        }
    }
}
